:root {
  font: 16px / 1 sans-serif;
}
body {
  margin: 0;
  background-color: blueviolet;
  padding: 5rem;
  text-decoration: underline;
}

.hello-world {
  text-align: center;
  font-size: 6rem;
  padding: 10rem;
  border-style: inset;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Just Another Hand', cursive;
  font-size: 2rem;
}

h2 {
  font-family: 'ZCOOL KuaiLe', cursive;
  color: magenta;
}

li:hover {
  font-size: 2rem;
  padding-left: 5rem;
  transition: 1s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.first-ramble {
  font-family: 'Courier New', Courier, monospace;
}

.second-ramble {
  font-family: 'Times New Roman', Times, serif;
}

#grid {
  display: grid;
  height: 100%;
}

#first-column {
  grid-column: 1;
  background-color: lime;
}

#second-column {
  grid-column: 2;
  background-color: cyan;
}

#third-column {
  grid-column: 3;
  background-color: peachpuff;
}
