:root {
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  background-color: blueviolet;
  padding: 5rem;
  text-decoration: underline;
}

.header {
  height: 150px;
  background-image: url('rinG8dG7T.png');
}

.puppies {
  height: 150px;
  background-image: url('Cartoon Puppy.jpg');
}

.hello-world {
  text-align: center;
  font-size: 6rem;
  padding: 10rem;
  border-style: inset;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Just Another Hand', cursive;
  font-size: 2rem;
}

h2 {
  font-family: 'ZCOOL KuaiLe', cursive;
  color: magenta;
}

li:hover {
  font-size: 2rem;
  padding-left: 5rem;
  transition: 1s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.first-ramble {
  font-family: 'Courier New', Courier, monospace;
  grid-column: auto;
  padding: 1rem;
  text-align: left;
}

.second-ramble {
  font-family: 'Times New Roman', Times, serif;
  grid-column: auto;
  padding: 1rem;
  text-align: right;
}

#grid {
  display: grid;
  height: 100%;
}

#first-column {
  grid-column: 1;
  background-color: lime;
}

#second-column {
  grid-column: 2;
  background-color: cyan;
}

#third-column {
  grid-column: 3;
  background-color: peachpuff;
}

.dog-rant {
  text-align: center;
  color: #d6f7a3;
}

.dog-rant-bold {
  font-size: 4.25rem;
  font-weight: bolder;
  color: #d6f7a3;
  text-align: center;
}

#Odin {
  margin: 8rem;
}

#Rambo {
  margin: 4rem;
}

#disclaimer {
  text-align: center;
  font-size: 0.5rem;
  color: red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#knitfast {
  max-width: 15%;
}
#knitfast:hover {
  opacity: 0.5;
}

#knitwrist {
  max-width: 15%;
}
#knitwristhover {
  opacity: 0.5;
}

#whywould {
  max-width: 15%;
}
#whywouldhover {
  opacity: 0.5;
}
